.banner-pic {
    width: 100%;
    height: 70vh;
    margin-top: 56px;
    color: white;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.3)), url(../images/homepage-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
}

.white-section {
    width: 100%;
    padding: 80px 0;
    text-align: center;
}

.blue-section {
    width: 100%;
    padding: 80px 0;
    color: white;
    text-align: center;
    background-color: rgb(74, 187, 231);
}

.grey-section {
    position: relative;
    width: 100%;
    height: 210px;
    padding: 30px 0;
    text-align: center;
    background-color: #f7f7f7;
}

.heading-margin {
    margin-bottom: 30px;
}

.white-text {
    color: white;
}

.box-wrapper-overflow {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.box-image-1 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/start-learning.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s linear;
}

.box-image-1:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/start-learning.jpg');
}

.box-image-2 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/programming.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-2:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/programming.jpg');
}

.box-image-3 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/functions.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-3:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/functions.jpg');
}

.box-image-4 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/desk.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-4:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/desk.jpg');
}

.box-image-5 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/arrays.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-5:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/arrays.jpg');
}

.box-image-6 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/coding-desk.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-6:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/coding-desk.jpg');
}

.box-image-7 {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/advanced.jpg');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image-7:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/advanced.jpg');
}

.planner-box-image {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)), url('../images/learning-time.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planner-box-image:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/learning-time.jpg');
}

.community-box-image {
    width: 100%;
    height: 300px;
    color: white;
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)), url('../images/community.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: transform 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-box-image:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../images/community.jpg');
}

.particles {
    position: absolute;
    width: 10px;
    height: 30px;
    animation: spin linear 2000 5s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}