.navbrand-white {
    color: white!important;
}

.navbrand-white:hover {
    color: turquoise!important;
    transition: .5s;
}

.nav-link {
    color: white!important;
    border-radius: 20px;
    transition: background-color .2s linear;
}

.nav-link:hover {
  background-color: turquoise;
}