{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section2" class="nav-link">Start Learning</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section3" class="nav-link">Planner</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section5" class="nav-link">Community</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section6" class="nav-link">Chat With Us</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Add New Post</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('insert_post') }}" method="POST" class="col-12 task-box text-center">
                    <div class="row">
                        <div class="col-12">
                            <select name="lesson_name" id="lesson_name">
                                <option value="" disabled selected>Choose Lesson</option>
                                {% for lesson in lessons %}
                                <option value="{{ lesson.lesson_name }}">{{ lesson.lesson_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="post_content" name="post_content" type="text"
                                placeholder="Post Content" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit" name="action">Add New Post
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}