{% extends 'base.html' %}
{% block page_title %}
	Add Post
{% endblock %}
{% block content %}
<section class="section-padding section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Add New Post</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('insert_post') }}" method="POST" class="col-12 task-box text-center">
                    <div class="row">
                        <div class="col-12">
                            <select name="lesson_name" id="lesson_name">
                                <option value="" disabled selected>Choose Lesson</option>
                                {% for lesson in lessons %}
                                <option value="{{ lesson.lesson_name }}">{{ lesson.lesson_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="post_content" name="post_content" type="text"
                                placeholder="Post Content" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit">Add New Post
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}