{% extends 'base.html' %}
{% block page_title %}
	Add Task
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Add New Tasks</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('insert_task') }}" method="POST" class="col-12 task-box text-center">
                    <select name="lesson_name" id="lesson_name">
                        <option value="" disabled selected>Choose Lesson</option>
                        {% for lesson in lessons %}
                        <option value="{{ lesson.lesson_name }}">{{ lesson.lesson_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="row">
                        <div class="col-12">
                            <input id="task_name" name="task_name" type="text" placeholder="Task Name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="task_description" name="task_description" type="text"
                                placeholder="Description" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input id="due_date" name="due_date" type="text" placeholder="Due Date" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit">Add New Task
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}