{% extends 'base.html' %} {% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Advanced Lessons</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Classes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Build a calculator</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Translate a Website</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Random Colour Generator</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Tik Tak Toe</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}