{% extends 'base.html' %}
{% block page_title %}
	Advanced Lessons
{% endblock %}
{% block content %}
<section class="lessons-banner-pic" title="A background image of some code on a screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Advanced Lessons</h1>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Classes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Classes in JavaScript require a constructor method for the initialisation of an object. Here is an example of a class</p>
                    <p>class Phone {<br>
                        constructor(brand) {<br>
                            this.phoneBrand = brand <br>
                        } <br>
                    } <br>
                    thePhone = new Phone("Samsung");
                    </p>
                    <p>You can find more examples, <a href="https://www.w3schools.com/js/js_classes.asp" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin text-center">
                <h2>Add Your Own Lessons Below to Help Others!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-md-6 col-md-6 offset-xl-4 col-xl-4 offset-xl-4 justify-content-center circle">
                <a href="{{ url_for('add_new_lesson') }}" class="add-task-btn">
                    <div class="plus-sign-add-task">
                        <p>+</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% for info in add_lesson %}
{% if loop.index % 2 == 0 %}
{% if info.heading == Null %}
{{ Null }}
{% else %}
<section class="purple-section">
    <div class="container">

        <div class="row">
            <div class="col-12 heading-margin">
                <h2>{{ info.heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">

                    <p>By: {{ info.username }}</p>
                    <p>{{ info.lesson_content }}</p>

                </div>
            </div>
        </div>
        {% if info.username == session['username'] %}
        <div class="row">
            <div class="col-6">
                <a href="{{ url_for('delete_lesson', addLesson_id=info._id) }}">
                    <button class="btn btn-danger" type="submit" name="action">Delete
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

            <div class="col-6">
                <a href="{{ url_for('edit_lesson', addLesson_id=info._id) }}">
                    <button class="btn btn-info" type="submit" name="action">Edit
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
{% else %}
{% if info.heading == Null %}
{{ Null }}
{% else %}
<section class="white-section">
    <div class="container">

        <div class="row">
            <div class="col-12 heading-margin">
                <h2>{{ info.heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">

                    <p>By: {{ info.username }}</p>
                    <p>{{ info.lesson_content}}</p>

                </div>
            </div>
        </div>
        {% if info.username == session['username'] %}
        <div class="row">
            <div class="col-6">
                <a href="{{ url_for('delete_lesson', addLesson_id=info._id) }}">
                    <button class="btn btn-danger" type="submit" name="action">Delete
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

            <div class="col-6">
                <a href="{{ url_for('edit_lesson', addLesson_id=info._id) }}">
                    <button class="btn btn-info" type="submit" name="action">Edit
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}