<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- CDNS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<!-- JavaScript in the Head Tag -->
	{% block head_js %}{% endblock %}
	<!-- Page Titles -->
	<title>{% block page_title %}{% endblock %}</title>

</head>

<body>
	<header>
		<!-- Navigation Bar for Each Web Page -->
		<nav class="navbar navbar-expand-sm navbar-light bg-info fixed-top">
			<a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

			<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-expanded="navbarNavDropdown" aria-controls="false">

				<span class="navbar-toggler-icon"></span></button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="{{ url_for('index') }}" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('task_manager') }}" class="nav-link">Planner</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('community') }}" class="nav-link">Community</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item nav-link">Account: {{ session["username"] }}</li>

					<li class="nav-item">
						<a href="{{ url_for('logout')}}" class="nav-link">Logout</a>
					</li>
				</ul>
			</div>
		</nav>

	</header>
	<article>
		<!-- Contents of the Web Pages -->
		{% block content %} {% endblock %}
	</article>
	<!-- Footer for Each Web Page -->
	<footer class="footer-style">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 text-center">
					<h2>Contact</h2>
					<ul class="footer-list">
						<li><a href="tel: 12 3456 7890" class="footer-link">Phone number: 12 4567 7890</a></li>
						<li><a href="mailto: rtegally1098@gmail.com" class="footer-link">rtegally1098@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 text-center">
					<h2>Social</h2>
					<ul class="footer-list">
						<li><a href="http://www.instagram.com" class="footer-link" target="_blank">Instagram</a></li>
						<li><a href="http://www.facebook.com" class="footer-link" target="_blank">Facebook</a></li>
						<li><a href="http://www.youtube.com" class="footer-link" target="_blank">Youtube</a></li>
						<li><a href="http://www.twitter.com" class="footer-link" target="_blank">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Script tags -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
	<!-- Script tags for Only Specific Web Pages -->
	{% block js_tags %}{% endblock %}

</body>

</html>