{% extends 'base.html' %}

{% block content %}
<section class="margin-bottom-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center heading-margin">
				<h1>Share Your Discoveries Here!</h1>
			</div>
		</div>
	</div>

	<div class="container">
		{% for post in posts %}
		<div class="row">
			<div class="col-12">
				<div class="community-box text-center">

					<div class="d-none d-sm-block">
						<div class="flex-row">
							<h5>By: {{ post.author }}</h5>
						</div>
					</div>
					{% if post.edit_today != "None" %}
					<div class="d-none d-sm-block">
						<div class="flex-row">
							<p>Created: {{ post.initDate }}</p>
							<p>{{ post.edit_today }}</p>
						</div>
					</div>

					<div class="d-block d-sm-none">
						<h5>By: {{ post.author }}</h5>
						<p>{{ post.initDate }}</p>
						<p>{{ post.edit_today }}</p>
					</div>
					{% endif %}

					<h4>Topic: {{ post.lesson_name }}</h4>

					<p>{{ post.post_content }}</p>
					{% if post.author == session['username'] %}
					<div class="row">
						<div class="col-6">
							<a href="{{ url_for('delete_post', post_id=post._id) }}">
								<button class="btn btn-danger" type="submit" name="action">Delete
									<i class="fa fa-minus-square" aria-hidden="true"></i>
								</button>
							</a>
						</div>

						<div class="col-6">
							<a href="{{ url_for('edit_post', post_id=post._id) }}">
								<button class="btn btn-info" type="submit" name="action">Edit
									<i class="fa fa-edit" aria-hidden="true"></i>
								</button>
							</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4 offset-xl-4 justify-content-center circle">
				<a href="{{ url_for('add_posts') }}" class="add-task-btn">
					<div class="plus-sign-add-task">
						<p>+</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}