{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
	<a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

	<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-expanded="navbarNavDropdown" aria-controls="false">

		<span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="index.html#hp-section1" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section2" class="nav-link">Start Learning</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section3" class="nav-link">Planner</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section5" class="nav-link">Community</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section6" class="nav-link">Chat With Us</a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center heading-margin">
				<h1>Share Your Discoveries Here!</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		{% for post in posts %}
		<div class="row">
			<div class="col-12">
				<div class="community-box text-center">

					<div class="d-none d-sm-block">
						<div class="flex-row">
							<h5>{{ post.username }}</h5>
							<h5>{{ post.email }}</h5>
						</div>
					</div>

					<div class="d-block d-sm-none">
						<h5>{{ post.username }}</h5>
						<h5>{{ post.email }}</h5>
					</div>

					<h4>Topic: {{ post.lesson_name }}</h4>

					<p>{{ post.post_content }}</p>
					<div class="row">

						<div class="col-4">
							<a href="{{ url_for('delete_post', post_id=post._id) }}">
								<button class="btn btn-danger" type="submit" name="action">Delete
									<i class="fa fa-minus-square" aria-hidden="true"></i>
								</button>
							</a>
						</div>

						<div class="col-4">
							<a href="{{ url_for('edit_post', post_id=post._id) }}">
								<button class="btn btn-info" type="submit" name="action">Edit
									<i class="fa fa-edit" aria-hidden="true"></i>
								</button>
							</a>
						</div>

						<div class="col-4">
							<button class="btn btn-success" type="submit" name="action">Done
								<i class="fa fa-check" aria-hidden="true"></i>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-12 offset-md-6 col-md-6 offset-xl-4 col-xl-4 offset-xl-4 justify-content-center circle">
				<a href="{{ url_for('add_posts') }}" class="add-task-btn">
					<div class="plus-sign-add-task">
						<p>+</p>
					</div>

				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}