{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Edit Task</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('update_task', task_id=task._id) }}" method="POST" class="col-12 task-box text-center">
                    <select name="lesson_name" id="lesson_name">
                        {% for lesson in lessons %}
                        {% if lesson.lesson_name == task.task_lesson_name %}
                        <option value="{{ lesson.lesson_name }}" selected>{{lesson.lesson_name}}</option>
                        {% else %} 
                        <option value="{{ lesson.lesson_name }}">{{lesson.lesson_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="row">
                        <div class="col-12">
                            <input id="task_name" name="task_name" type="text" value="{{task.task_name}}"
                                placeholder="Task Name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="task_description" name="task_description" type="text"
                                placeholder="Description" required>{{task.task_description}}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input id="due_date" name="due_date" type="text" value="{{task.due_date}}"
                                placeholder="Due Date" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit">Done
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}