{% extends 'base.html' %}
{% block page_title %}
	Edit Post
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Edit Task</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('update_post', post_id=posts._id) }}" method="POST" class="col-12 task-box text-center">
                    <div class="row">
                        <div class="col-12">
                            <select name="lesson_name" id="lesson_name">
                                <option value="" disabled selected>Choose Lesson</option>
                                {% for lesson in lessons %}
                                {% if lesson.lesson_name == posts.lesson_name %}
                                <option value="{{lesson.lesson_name}}" selected>{{posts.lesson_name}}</option>
                                {% else %}
                                <option value="{{lesson.lesson_name}}">{{lesson.lesson_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="post_content" name="post_content" type="text"
                                placeholder="Description" required>{{posts.post_content}}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit">Done
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}