{% extends 'base.html' %}
{% block page_title %}
	Edit Lesson
{% endblock %}
{% block content %}
<section class="margin-bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center heading-margin">
                <h1>Edit Lesson</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('update_lesson', addLesson_id=addLesson._id) }}" method="POST" class="col-12 task-box text-center">
                    <div class="row">
                        <div class="col-4 offset-4">
                            <input type="text" name="heading" value="{{addLesson.heading}}" class="form-control" placeholder="Lesson Heading">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <textarea id="lesson_content" name="lesson_content" type="text"
                                placeholder="Description" required>{{addLesson.lesson_content}}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-info" type="submit">Done
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}