{% extends 'base.html' %} {% block content %}
<section class="banner-pic-HP" id="hp-section1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Learn JavaScript for Free!</h1>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-white-sec" id="hp-section2">
	<div class="container">
		<div class="row">
			<div class="col-12 heading-margin">
				<h2>Start Learning Now!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-1">
						<div>
							<h3>Lesson 1: Basics</h3>
							<p>Data Types, Variables and Operators</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-2">
						<div>
							<h3>Lesson 2: Loops and Contionals</h3>
							<p>If, else and switch statements and for, while and do & while loops</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-3">
						<div>
							<h3>Lesson 3: Functions</h3>
							<p>Functions, Parameters, Return</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-4">
						<div>
							<h3>Lesson 4: Objects</h3>
							<p>Methods and Creating Objects</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-5">
						<div>
							<h3>Lesson 5: Arrays</h3>
							<p>Arrays, Math Object and Date Object</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box-wrap">
					<div class="learn-box-6">
						<div>
							<h3>Lesson 6: Using the DOM</h3>
							<p>Selection, Manipulation, Event Handling and Animations</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="learn-box-wrap">
					<div class="learn-box-7">
						<div>
							<h3>Advanced Learning</h3>
							<p>Classes, Calculator, Translate a Website and More!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-blue-sec" id="hp-section3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="white-text heading-margin">
					<h2>Plan Your Own Study Time</h2>
				</div>
			</div>
			<div class="col-12">
				<div class="learn-box-wrap">
					<div class="learn-box-planner">
						<h3>Go to the Task Manager Here! >></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-grey-sec" id="hp-section4">
	<div class="container-fluid">
		<div class="row">
			<div class="particles" id="particles"></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="particles"></div>
		</div>
	</div>
		<div class="row">
			<div class="particles"></div>
		</div>
	</div>
	</div>
</section>

<section class="HP-BG-blue-sec" id="hp-section5">
	<div class="container">
		<div class="row">
			<div class="col-12 heading-margin">
				<h2>Share Your Discoveries or Interesting Ideas with Others</h2>
			</div>
			<div class="col-12">
				<div class="learn-box-wrap">
					<div class="learn-box-community">
						<h3>Join the Community! >></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-white-sec" id="hp-section6">
	<div class="container">
		<div class="row">
			<div class="col-12 heading-margin">
				<h2>Chat with Us!</h2>
			</div>
			<!-- This form code below just serves as a placeholder for now -->
			<div class="col-12">
				<form action="">
					<textarea name="text" id="text" cols="10" rows="10"></textarea>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}