{% extends 'base.html' %} 
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info fixed-top">
	<a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

	<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-expanded="navbarNavDropdown" aria-controls="false">

		<span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="#hp-section1" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="#hp-section2" class="nav-link">Start Learning</a>
			</li>
			<li class="nav-item">
				<a href="#hp-section3" class="nav-link">Planner</a>
			</li>
			<li class="nav-item">
				<a href="#hp-section5" class="nav-link">Community</a>
			</li>
			<li class="nav-item">
				<a href="#hp-section6" class="nav-link">Chat With Us</a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<section class="banner-pic" id="hp-section1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Learn JavaScript for Free!</h1>
			</div>
		</div>
	</div>
</section>

<section class="white-section" id="hp-section2">
	<div class="container">
		<div class="row">
			<div class="col-12 heading-margin">
				<h2>Start Learning Now!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_one') }}" class="box-image-1">
						<div>
							<h3>Lesson 1: Basics</h3>
							<p>Data Types, Variables and Operators</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_two') }}" class="box-image-2">
						<div>
							<h3>Lesson 2: Loops and Contionals</h3>
							<p>If, else and switch statements and for, while and do & while loops</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_three') }}" class="box-image-3">
						<div>
							<h3>Lesson 3: Functions</h3>
							<p>Functions, Parameters, Return</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_four') }}" class="box-image-4">
						<div>
							<h3>Lesson 4: Objects</h3>
							<p>Methods and Creating Objects</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_five') }}" class="box-image-5">
						<div>
							<h3>Lesson 5: Arrays</h3>
							<p>Arrays, Math Object and Date Object</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('lesson_six') }}" class="box-image-6">
						<div>
							<h3>Lesson 6: Using the DOM</h3>
							<p>Selection, Manipulation, Event Handling and Animations</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-12">
				<div class="box-wrapper-overflow">
					<a href="{{ url_for('advanced_lesson') }}" class="box-image-7">
						<div>
							<h3>Advanced Learning</h3>
							<p>Classes, Calculator, Translate a Website and More!</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="blue-section" id="hp-section3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="white-text heading-margin">
					<h2>Plan Your Own Study Time</h2>
				</div>
			</div>
			<div class="col-12">
				<div class="box-wrapper-overflow">
					<div class="planner-box-image">
						<h3>Go to the Task Manager Here! >></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="grey-section" id="hp-section4">
	<div class="container-fluid">
		<div class="row particles-area">

		</div>
		<div class="row particles-area">

		</div>
		<div class="row particles-area">

		</div>
	</div>
	</div>
</section>

<section class="blue-section" id="hp-section5">
	<div class="container">
		<div class="row">
			<div class="col-12 heading-margin">
				<h2>Share Your Discoveries or Interesting Ideas with Others</h2>
			</div>
			<div class="col-12">
				<div class="box-wrapper-overflow">
					<div class="community-box-image">
						<h3>Join the Community! >></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="white-section" id="hp-section6">
	<div class="container">
		<div class="row text-center">
			<div class="col-12 heading-margin">
				<h2>Chat with Us!</h2>
			</div>
			<!-- This form code below just serves as a placeholder for now -->
			<div class="col-12">
				<form action="">
					<textarea name="text" id="text" cols="10" rows="10"></textarea>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}