{% extends 'base.html' %} {% block content %}
<section class="banner-pic-HP" id="HPsection1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Learn for Free!</h1>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-white-sec" id="HPsection2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Start Learning Now!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box learn-box-helper">
					<h3>Lesson 1</h3>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box">
					<h3>Lesson 2</h3>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box">
					<h3>Lesson 3</h3>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box learn-box-helper">
					<h3>Lesson 4</h3>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box">
					<h3>Lesson 5</h3>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="learn-box">
					<h3>Lesson 6</h3>
				</div>
			</div>
			<div class="col-12">
				<div class="learn-box">
					<h3>Advanced Learning</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-blue-sec" id="HPsection3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="white-text">
					<h2>Plan Your Own Study Time</h2>
				</div>
			</div>
			<div class="col-12">
				<div class="learn-box">
					<h3>Go to the Task Manager Here!</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-grey-sec" id="HPsection5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="particles" id="particles"></div>
				<div class="particles"></div>
				<div class="particles"></div>
				<div class="particles"></div>
				<div class="particles"></div>
			</div>
		</div>
	</div>
</section>

<section class="HP-BG-white-sec" id="HPsection6">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Share Your Discoveries or Interesting Ideas with Others</h2>
			</div>
			<div class="col-12">
				<div class="learn-box">
					<h3>Join the Community!</h3>
				</div>
			</div>
		</div>
	</div>	
</section>

<section class="HP-BG-blue-sec" id="HPsection7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>Chat with Us!</h2>
			</div>
			<!-- This form code below just serves as a placeholder for now -->
			<div class="col-12">
				<form action="">
					<textarea name="text" id="text" cols="130" rows="10"></textarea>
				</form>
			</div>
		</div>
	</div>	
</section>
{% endblock %}