{% extends 'base.html' %}
<!-- Page Title -->
{% block page_title %}
Lesson 5
{% endblock %}
{% block content %}
<!-- Page Banner with Heading -->
<section class="lessons-banner-pic" title="A background image of some code on a screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 5: Arrays</h1>
            </div>
        </div>
    </div>
</section>
<!-- Lesson Content -->
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Arrays</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Arrays in JavaScript are like lists that consist of multiple value in them. </p>
                    <p>So, instead of having multiple variables, like this:</p>
                    <p>let participant1 = "Justin"<br>
                        let participant2 = "Mina"<br>
                        let participant3 = "Alex"
                    </p>
                    <p>We could add them into one array:</p>
                    <p>let participants = ["Justin", "Mina", "Alex"]<br>
                        console.log(participants[0])</p>
                    <p>The result of this is: "Justin"</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}