{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info fixed-top">
    <a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-expanded="navbarNavDropdown" aria-controls="false">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section2" class="nav-link">Start Learning</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section3" class="nav-link">Planner</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section5" class="nav-link">Community</a>
            </li>
            <li class="nav-item">
                <a href="index.html#hp-section6" class="nav-link">Chat With Us</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 1: Basics</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Variables, Constants and Let</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>One can define a values through the following three terms:</p>
                    <ul>
                        <li>var</li>
                        <li>let</li>
                        <li>const</li>
                    </ul>
                    <p>For example, one could write:</p>
                    <p>var x = 10;</p>
                    <p>var y = 5;</p>
                    <p>var z = x + y</p>
                    <p>In this example, z is equal to 15, as it is the result of 10 plus 5.</p>
                    <p>In order to display the z variable in the console of Google Chrome, use console.log, as in
                        console.log(z) and 15 should be shown in the console.</p>

                    <p>Nowadays, let is used more often instead of var and const is only used, if one wants a value to
                        stay the same.</p>

                    <p>Also, please note that a semicolon (;) is usually included at the end of each line.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Data Types</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>In JavaScript, there are many multiple data types, such as strings, array, objects, numbers and
                        booleans.
                        Here are some examples:</p>
                    <ul>
                        <li>let theString = "This is a string";</li>
                        <li>let theArray = ["This", "is", "a", "list", "of", "words"];</li>
                        <li>let theObject = {device: "Mobile Phone", companyName = "Samsung", version = "Galaxy S8"};
                        </li>
                        <li>let theNumber = 63 / 3;</li>
                        <li>let theTrueBoolean = True;</li>
                        <li>let theFalseBoolean = False;</li>
                    </ul>
                    <p>As it is shown above, a string is a text in quotation marks, whereas an array is a list of
                        things, which can be letters, numbers or symbols.</p>
                    <p>The object has pairs that have a name and a value and they are all wrapped in curly brackets
                        ({}). The values could be targetted as in the following example:</p>
                    <p>console.log("The " + theObject.device + " is a " + theObject.companyName + " " +
                        theObject.version;)</p>
                    <p>A boolean can either be true or false. For instance, if the following two variables were
                        compared:</p>
                    <ul>
                        <li>let theNumber = 63 / 3;</li>
                        <li>let theOtherNumber = 24 - 3;</li>
                        <li>(theNumber == theOtherNumber)</li>
                    </ul>
                    <p>In the example above, (theNumber == theOtherNumber) would return true because both variables are
                        equal to 21, but if they would result in different numbers, it would return false.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Operators</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
                        perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas
                        aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
                        perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas
                        aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
                        perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas
                        aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
</section>

<section>
    <div class="container">
        <div class="row">
			<div class="col-12 offset-md-6 col-md-6 offset-xl-4 col-xl-4 offset-xl-4 justify-content-center circle">
				<a href="{{ url_for('add_new_lesson1') }}" class="add-task-btn">
					<div class="plus-sign-add-task">
						<p>+</p>
					</div>
				</a>
			</div>
		</div>
    </div>
</section>
{% for info in add_lesson1 %}
{% if loop.index % 2 != 0 %}
<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>{{ info.heading1 }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    
                    <p>{{ info.email1 }}</p>
                    <p>{{ info.lesson1_content}}</p>
                    
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <a href="{{ url_for('delete_lesson1', addLesson1_id=info._id) }}">
                    <button class="btn btn-danger" type="submit" name="action">Delete
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

            <div class="col-6">
                <a href="{{ url_for('edit_lesson1', addLesson1_id=info._id) }}">
                    <button class="btn btn-info" type="submit" name="action">Edit
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>{{ info.heading1 }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    
                    <p>{{ info.email1 }}</p>
                    <p>{{ info.lesson1_content}}</p>
                    
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <a href="{{ url_for('delete_lesson1', addLesson1_id=info._id) }}">
                    <button class="btn btn-danger" type="submit" name="action">Delete
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                </a>
            </div>

            <div class="col-6">
                <a href="{{ url_for('edit_lesson1', addLesson1_id=info._id) }}">
                    <button class="btn btn-info" type="submit" name="action">Edit
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %} 
{% endfor %}
{% endblock %}