{% extends 'base.html' %} 
{% block page_title %}
	Lesson 6
{% endblock %}
{% block content %}
<section class="lessons-banner-pic" title="A background image of some code on a screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 6: Using the DOM</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Selection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>You can get IDs from HTML, like so:</p>
                    <p>let theId = document.getElementById("HTMLIdName")
                    </p>
                    <p>A HTML class can be grabed through this:</p>
                    <p>document.getElementsByClassName("HTMLClassName")</p>
                    <p>There are many more examples that you can look up.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Event Listeners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <!-- The source that assisted me with the information below is this: https://www.w3schools.com/js/js_htmldom_eventlistener.asp -->
                    <p>Event listeners trigger a function, through an action, like a click or hover. Here is the main structure of it:</p>
                    <p>
                        let variable = document.getElementById("elementId") <br>

                        variable.addEventListener("click", functionName());
                    </p>
                    <p>In this example, "click" indicates that the event the functionName() function shall be triggered by is through a click.</p>
                    <p>More examples can be found, <a href="https://www.w3schools.com/js/js_htmldom_eventlistener.asp" target="_blank">here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}