{% extends 'base.html' %} 
{% block page_title %}
	Lesson 2
{% endblock %}
{% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 2: Loops and Contionals</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>If and Else Statements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box words">
                    <p>if(condition) {<br>
                        // code gets executed, if true<br>
                    }<br>
                    else if(condition) {<br>
                        // code gets executed, if first condition is not true<br>
                    }<br>
                    else {<br>
                        // code gets executed, if all else is false<br>
                    }<br>
                    </p>
                    <h3>Example:</h3>
                    <p>
                        let minutes = 30;<br>
                        let hour = 1;<br>

                        if (minutes == 2 && hour != 1) {<br>
                            return "Two minutes have passed."<br>
                        }<br>
                        else if(minutes == 26 || hours == 1) {<br>
                            return "More than 25 minutes have passed."<br>
                        }<br>
                        else {<br>
                            return "Less than two minutes have passed"<br>
                        }<br>

                        The result will be "More than 25 minutes have passed.", as hour = 1.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Switch Statements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box words">
                    <p>
                        switch(expression) {<br>
                            case x:<br>
                                // code gets executed in case x matches<br>
                                break; // required to stop the execution<br>
                            case y:<br>
                                // code is here<br>
                                continue; // Means that the case will be skipped, if matched<br>
                            case z:<br>
                                // code gets executed, if true<br>
                                break;<br>
                            default:<br>
                                // code that gets executed in case nothing of the above matches<br>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>For Loops</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>
                        for (start; finish; increment/decrement) {<br>
                            // Code comes here<br>
                        }
                    </p>
                    <p>let arr = [3,4,5,6,7]</p>
                    <p>
                        for(i = 0; i < arr.length; i++) {<br>
                            // Code goes here<br>
                        }
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>forEach</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>If there is an array, forEach has the ability to loop through each of the items in the array!</p>
                    <p>Here is an example:</p>
                    <p>let countries = ["Ireland", "Indonesia", "Dubai"];</p>
                    <p>function TheFunction(country) {</p>
                    <p>console.log(country);</p>
                    <p>}</p>
                    <p>countries.forEach(TheFunction)</p>
                    <p>This logs:</p>
                    <p>Ireland</p>
                    <p>Indonesia</p>
                    <p>Dubai</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>While Loops</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <h5>While Loop</h5>
                    <p>The while loop works like a for loop, but the while loop runs, as long as a statement is true, whereas the for loop runs a number of iterations.</p>
                    <p>let i = 0;</p>
                    <p>while (i < 3) {} </p>
                    <p>console.log(i++);</p>
                    <p>}</p>
                    <p>The result logs:</p>
                    <p>0</p>
                    <p>1</p>
                    <p>2</p>
                    <h5>Do/While Loop</h5>
                    <p>There is also a do/while loop which executes code before checking if the condition in the while loop is true</p>
                    <p>It is formated like this:</p>
                    <p>let i = 0;</p>
                    <p>do {</p>
                    <p>// Code comes here</p>
                    <p>} while(i < 3);</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}