{% extends 'base.html' %}
{% block page_title %}
Lesson 5
{% endblock %}
{% block content %}
<section class="lessons-banner-pic" title="A background image of some code on a screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 5: Arrays</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Arrays</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Arrays in JavaScript are like lists that consist of multiple value in them. </p>
                    <p>So, instead of having multiple variables, like this:</p>
                    <p>let participant1 = "Justin"<br>
                        let participant2 = "Mina"<br>
                        let participant3 = "Alex"
                    </p>
                    <p>We could add them into one array:</p>
                    <p>let participants = ["Justin", "Mina", "Alex"]<br>
                        console.log(participants[0])</p>
                    <p>The result of this is: "Justin"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Math Objects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Date Object</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <!-- The source that assisted me for the code below is this: https://www.w3schools.com/jsref/jsref_obj_date.asp -->
                    <p>Through a date object, you can use hours, minutes, years, months, miliseconds and more! Here is an example</p>
                    <p>var d = new Date();<br>
                        var d = new Date(hours, minutes, seconds); <br>
                        print(d)
                    </p>
                    <p>You can find more example, <a href="https://www.w3schools.com/jsref/jsref_obj_date.asp" target="_blank">here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}