{% extends 'base.html' %}
{% block page_title %}
	Lesson 1
{% endblock %}
{% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 1: Basics</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Variables, Constants and Let</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>One can define a values through the following three terms:</p>
                    <ul>
                        <li>var</li>
                        <li>let</li>
                        <li>const</li>
                    </ul>
                    <p>For example, one could write:</p>
                    <p>var x = 10;</p>
                    <p>var y = 5;</p>
                    <p>var z = x + y</p>
                    <p>In this example, z is equal to 15, as it is the result of 10 plus 5.</p>
                    <p>In order to display the z variable in the console of Google Chrome, use console.log, as in
                        console.log(z) and 15 should be shown in the console.</p>

                    <p>Nowadays, let is used more often instead of var and const is only used, if one wants a value to
                        stay the same.</p>

                    <p>Also, please note that a semicolon (;) is usually included at the end of each line.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Data Types</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>In JavaScript, there are many multiple data types, such as strings, array, objects, numbers and
                        booleans.
                        Here are some examples:</p>
                    <ul>
                        <li>let theString = "This is a string";</li>
                        <li>let theArray = ["This", "is", "a", "list", "of", "words"];</li>
                        <li>let theObject = {device: "Mobile Phone", companyName = "Samsung", version = "Galaxy S8"};
                        </li>
                        <li>let theNumber = 63 / 3;</li>
                        <li>let theTrueBoolean = True;</li>
                        <li>let theFalseBoolean = False;</li>
                    </ul>
                    <p>As it is shown above, a string is a text in quotation marks, whereas an array is a list of
                        things, which can be letters, numbers or symbols.</p>
                    <p>The object has pairs that have a name and a value and they are all wrapped in curly brackets
                        ({}). The values could be targetted as in the following example:</p>
                    <p>console.log("The " + theObject.device + " is a " + theObject.companyName + " " +
                        theObject.version;)</p>
                    <p>A boolean can either be true or false. For instance, if the following two variables were
                        compared:</p>
                    <ul>
                        <li>let theNumber = 63 / 3;</li>
                        <li>let theOtherNumber = 24 - 3;</li>
                        <li>(theNumber == theOtherNumber)</li>
                    </ul>
                    <p>In the example above, (theNumber == theOtherNumber) would return true because both variables are
                        equal to 21, but if they would result in different numbers, it would return false.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Operators</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <h4>Arithmetic Operators</h4>
                    <ul>
                        <li>Addition: + 3 + 3 = 6</li>
                        <li>Subtraction: - => 7 - 3 = 4</li>
                        <li>Mulitplication: * => 3 * 3 = 9</li>
                        <li>Division: / => 9 / 3 = 3</li>
                        <li>Modulo: % => 10 % 3 = 1 (Gives the rest of the division)</li>
                        <li>Exponentation: **</li>
                        <li>Increment: ++</li>
                        <li>Decrement: --</li>
                        <li>x = y</li>
                        <li>x += y => x = x * y</li>
                        <li>x -= y => x = x - y</li>
                        <li>x *= y => x = x * y</li>
                        <li>x /= y => x = x / y</li>
                        <li>x %= y => x = x % y</li>
                        <li>x **= y => x = x ** y</li>
                    </ul>
                    <h2>Comparison Operators</h2>
                    <ul>
                        == something is equal to something else
                        === equal value and type
                        != not equal to something
                        > greater than
                        >= greater than or equal to 
                        ? ternary Operators
                    </ul>
                    <h2>Logical Operators</h2>
                    <ul>
                        <li>&& means and</li>
                        <li>|| means or</li>
                        <li>! means not</li>
                    </ul>
                </div>
            </div>
        </div>
</section>
{% endblock %}