{% extends 'base.html' %} 

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info fixed-top">
	<a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

	<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-expanded="navbarNavDropdown" aria-controls="false">

		<span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="index.html#hp-section1" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section2" class="nav-link">Start Learning</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section3" class="nav-link">Planner</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section5" class="nav-link">Community</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section6" class="nav-link">Chat With Us</a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 2: Loops and Contionals</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>If and Else Statements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Switch Statements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>For loops</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Foreach</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>While and do... while loops</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil perspiciatis expedita eligendi
                        labore voluptate dignissimos? Sint, nulla. Distinctio, voluptas aliquam?</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}