{% extends 'base.html' %}
{% block page_title %}
	Lesson 4
{% endblock %}
{% block content %}
<section class="lessons-banner-pic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Lesson 4: Objects</h1>
            </div>
        </div>
    </div>
</section>
<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-margin">
                <h2>Methods</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grey-background-box">
                    // For assistance of examples and explanations below, I used this link: https://www.w3schools.com/js/js_object_methods.asp
                    <p>Methods are used for objects and to do something with the information inside of them. Here is are some examples</p>
                    <p>let pet = {<br>
                        animal: "cat",<br>
                        name: "catty", <br>
                        age: 5,<br>
                        // ObjectName.Method is the format
                        console.log(pet.animal)
                    </p>
                    <p>The code above results in, "cat"</p>
                    <p>One could also turn all letters of it to capital letters, like so:</p>
                    <p>let animalType = pet.animal <br>
                        console.log(animalType.toUpperCase())</p>
                    <p>The result is: "CAT"</p>
                    <p>There are many other methods you can look up.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}