{% extends 'base.html' %}
{% block page_title %}
	Sign In
{% endblock %}
<!-- Form for User Login -->
{% block content %}
    <section class="section-padding section-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">Learn JavaScript! Learn for free!</h1>
                    <form action="{{ url_for('signin') }}" method="POST">
                        <div class="form-group">
                            <label for="">Email-Address</label>
                            <!-- the form-control class is used to style the text-box -->
                            <input type="text" name="email" class="form-control" placeholder="Email-Address" required>
                        </div>
                        <div class="form-groups">
                            <label for="">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                    <div class="text-center">
                        <a href="{{ url_for('register') }}">Register Here Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}