{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
	<a href="{{ url_for('index') }}" class="navbar-brand navbrand-white">Language Learner's App</a>

	<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-expanded="navbarNavDropdown" aria-controls="false">

		<span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="index.html#hp-section1" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section2" class="nav-link">Start Learning</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section3" class="nav-link">Planner</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section5" class="nav-link">Community</a>
			</li>
			<li class="nav-item">
				<a href="index.html#hp-section6" class="nav-link">Chat With Us</a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center heading-margin">
				<h1>Task Manager</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			{% for task in tasks %}
			<div class="col-12 col-md-6 col-xl-4">
				<div class="task-box text-center">
					<h2>{{task.lesson_name}}</h2>

					
					<h3>{{task.task_name}}</h3>
					<p>{{task.task_descrip}}</p>
					<p>{{task.due_date}}</p>

					<div class="row">
						<div class="col-6">
							<a href="{{ url_for('delete_task', task_id=task._id) }}">
								Delete Task
							</a>
						</div>

						<div class="col-6">
							<a href="{{ url_for('edit_task', task_id=task._id, lesson_id=lessons._id) }}">
								Edit Task
							</a>
						</div>
					</div>


					<!-- <div class="row">
						<div class="col-4">
								<button class="btn btn-danger" type="submit">Delete
									<i class="fa fa-minus-square" aria-hidden="true"></i>
								</button>
							</a>
						</div>
						<div class="col-4">
						</div>
						<div class="col-4">
								add anchor tags here and above too!!!
								<button class="btn btn-info" type="submit">Edit
									<i class="fa fa-edit" aria-hidden="true"></i>
								</button>
							</a>
						</div>

					</div> -->
				</div>
			</div>
			{% endfor %}



			<div class="col-12 col-md-6 col-xl-4 justify-content-center circle">
				<a href="{{ url_for('add_task_title') }}" class="add-task-btn">
					<div class="plus-sign-add-task">
						<p>+</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}